*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.App {
  text-align: center;
}

.header {
  background-color: rgb(255, 251, 44);
  font-weight: 500;
  border: 2px solid;
  text-align: center;
  height: 25px;

}
.formheader{
  margin-left: 5px;
  font-weight: 400;
}
.btn{
  margin-left: 120px;
  margin-top: 10px;
}
.in{
  margin-left: 4px;
}
.contact{
  display: flex;
  justify-content: space-between;
  border: 2px solid;
  background-color: rgb(254, 244, 93);
  margin-bottom: 2px;
  margin-left: 12px;
  margin-right: 5px;
}
.contact-detail{
margin-left: 5px;
margin-right: 5px;
}
.contact-header{
  /* margin-left: 10px;
  margin-top: 5px; */
  margin: 10px ;
}
